body
{
    color: #444;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    margin: 0;
    padding: 0;
}   
#cabecera{
    background-color: #33a;
    color: white;
    font-weight: bold;
    box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.75);
    margin: 0;
    padding: 0,5em;
}

#cabecera #tagline{
    padding: 1em 0 0;
    font-weight: normal;
    font-size: 0.8em;
}

#container
{
    width: 70%;
    padding: 1.2em;
    text-align: left;
    border: 2px solid #DDD;
    margin: 0 auto;
}

#container h1
{
    font-size: 19px;
}
