body
{
    color: #444;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
}
#container
{
    width: 70%;
    padding: 1.2em;
    text-align: left;
    border: 2px solid #DDD;
    margin: 0 auto;
}

#container h1
{
    font-size: 19px;
}
